* {
  /*background-color: black;*/
}

html {
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  background-color: black;
}
.menu-container {
  /*color: seashell;*/
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;*/
  border-bottom: 1px solid seashell;
  height: 69px;

}

.menu {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.logo {

  display: flex;
  justify-content: flex-start;
}

#imglogo {
  height: 50px;
  margin-left: 10px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 10px;
}

.mission, .featured-tea, .locations {
  margin-left: 20px;
}

.mission-container {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative;*/
  height: 700px;
  width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
}

.tea-month-container {
  width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.tea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1000px;
  margin: auto;
  height: auto;
}

.steeping {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1000px;
}
#tea-img {
  display: flex;
  width: 300px;
  height: 200px;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.photo-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1000px;
  flex-direction: row;

}

.grid-item {
  /*width: 33.3%;*/
  /*height: 200px;*/
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: flex-start;
  /*margin: 0px 0px;*/
}
.grid-item h4 {
  margin-top: 10px;
}
.grid-first, .grid-second, .grid-third, .grid-fourth, .grid-fifth {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*margin: 0px 10px;*/
  flex-wrap: wrap;
}

.grid-first, .grid-second, .grid-fourth {
  margin-right: 20px;
}

.locations-container {
  width: 1200px;
  height: 500px;
  opacity: 1;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
}

.locations-title {
  width: 1200px;
  text-align: center;
}

.locations-grid {
  /*width: 300px;
  height: 300px;
  margin: 15px 40px;*/
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.downtown, .east-bayside, .oakdale {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  margin: 20px 0px;;
}

h4 {
  margin: 20px 0px;
  font-weight: normal;
}

h2 {
  margin: 15px 0px;
  text-align: center;
}

.upper-footer h5 {
  text-align: center;
}

.footer {
  width: auto;
}

.lower-footer {
  text-align: left;
  padding: 20px 0px 0px 20px;
  width: auto;
}
